<div class="container">
  <h1>Event detail</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEventName">Event name:</label>

      <div class="controls">
        <input type="text" id="inputEventName" ng-model="event.eventName"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
         <a ng-click="createEvent()" class="btn btn-small btn-primary">Create Event</a>
      </div>
    </div> 
  </form>
</div>