<div>
{{ message }}
<input type="text" ng-model="nameFilter" placeholder="Search..."/>
 <table>
    <thead>
      <th>Sl.</th>
      <th>Event Id</th>
      <th>Event Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr ng-repeat="event in events | filter: searchFilter">
        <td>{{$index + 1}}</td>
        <td>{{event.eventId}}</td>
        <td>{{event.eventName}}</td>
        <td><a ng-click="editEvent(event.eventId)" class="btn btn-small btn-primary">Edit</a></td>
        <td><a ng-click="deleteEvent(event.eventId)" class="btn btn-small btn-primary">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="control-group">
  <div class="controls">
     <a ng-click="createEvent()" class="btn btn-small">Create Event</a>
  </div>
</div> 
